{% extends 'myapp/base.html' %}

{% block body_block %}
{% if cat_list %}
    <h2>List of Categories</h2>
    <ol>
        {% for cat in cat_list %}
            <li>
                <a href="{% url 'myapp:detail' cat.id %}">{{ cat.name }}</a>
            </li>
        {% endfor %}
    </ol>
{% else %}
    <strong>There are no available categories!</strong>
{% endif %}
{%  if prod_list %}
    <h2>List of Products</h2>
    <ol>
        {% for prod in prod_list %}
            <li> {{ prod.name}} </li>
        {% endfor %}
    </ol>
{% else %}
    <strong>There are no available products!</strong>
{% endif %}
{% endblock %}