{% extends 'myapp/base.html' %}

{% block body_block %}
    <h1>Place Order</h1>
    <form action="{% url 'myapp:place_order' %}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            {% for product in prod_list %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Place Order" />
    </form>
{% endblock %}
